<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
  "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.usb-backup</string>

    <key>WatchPaths</key>
    <array>
        <string>/Volumes/__VOLUME_NAME__</string>
    </array>

    <key>ProgramArguments</key>
    <array>
        <string>/bin/bash</string>
        <string>/Volumes/__VOLUME_NAME__/START_BACKUP.command</string>
    </array>

    <key>RunAtLoad</key>
    <false/>
</dict>
</plist>
